<div class="container bg-light text-dark text-center shadow rounded-0">
    <div class="row">
      <div class="col col-sm-4 fs-4 text-wrap fw-bold">
        ACTIVE
      </div>
      <div class="col col-sm-4 fs-4 text-wrap fw-bold">
        RECOVERED
      </div>
      <div class="col col-sm-4 fs-4 text-wrap fw-bold">
        DEATH
      </div>
    </div>
    <div class="row p-2">
        <div class="col col-sm-4 fs-6 fw-lighter">
        {{data?.total.active | number}}  <br> <span style="font-size: small;" class="bg-transparent fw-bold badge text-warning">[+{{data?.total?.todayActive | number}}]</span>
        </div>
        <div class="col col-sm-4 fs-6 fw-lighter">
        {{data?.total.recovered | number}} <br> <span style="font-size: small;" class="bg-transparent fw-bold badge text-success">[+{{data?.total.todayRecovered | number}}]</span>
        </div>
        <div class="col col-sm-4 fs-6 fw-lighter">
        {{data?.total.deaths | number}} <br> <span style="font-size: small;" class="bg-transparent fw-bold badge text-danger">[+{{data?.total.todayDeaths | number}}]</span>
        </div>
      </div>
      <div class="row">
        <div class="col fs-4 text-wrap fw-bold">
          TOTAL CASES
        </div>
    </div>
      <div class="row p-2">
          <div class="col fs-6 fw-lighter">
              {{data?.total.cases | number}} <br> <span style="font-size: small;" class="bg-transparent fw-bold badge text-info">[+{{data?.total?.todayCases | number}}]</span>
          </div>
      </div>
  </div>
<br>
<div class="container bg-light text-dark rounded-0" style="display: flex;justify-content: center;">

  <div class="row p-2 ">
    <div class="col-12 fs-2 fw-bold m-2">
      <span class="fw-bold font-monospace text-dark fs-2" >Select a state </span>
      <select class="form-select bg-dark text-light rounded-0" aria-label="Default select example" (change)="setState()"
        [(ngModel)]=stateName>
        <option value={{null}} selected>Select a state</option>
        <option *ngFor="let d of data.states;" value={{d?.state}}> {{d?.state}}</option>
      </select>
    </div> 
    <div class="col-12 m-2">
      <div class="card" *ngIf="stateName" style="user-select: none;">
        <div class="card-body">
          <h5 class="card-title fs-4 pl-2 ml-2 bg-dark text-light p-2" style="margin-left: 10px;"><strong>{{stateSelected?.state}}</strong></h5>
          <p class="card-text fs-6 fw-light m-2">Cases:  <span class="text-dark fw-bold fs-5">{{stateSelected?.cases | number}}</span>
              <span class="badge bg-transparent text-info">{{stateSelected.todayCases}}</span>
          </p>
          <p class="card-text fs-6 fw-light m-2">Active: <span class="text-dark fw-bold fs-5">{{stateSelected?.active | number}}</span>
              <span class="badge bg-transparent text-warning">[+{{stateSelected?.todayActive | number}}]</span>
          </p>
          <p class="card-text fs-6 fw-light m-2">Recovered: <span class="text-dark fw-bold fs-5">{{stateSelected?.recovered | number}}</span>
              <span class="badge bg-transparent text-success">[+{{stateSelected?.todayRecovered | number}}]</span>
          </p>
          <p class="card-text fs-6 fw-light m-2">Deaths: <span class="text-dark fw-bold fs-5">{{stateSelected?.deaths | number}}</span> 
              <span class="badge bg-transparent text-danger">[+{{stateSelected?.todayDeaths | number}}]</span>
          </p>
        </div>
      </div>
      <br>
    </div>

  </div>
  
</div>